$primary-color: #FFEFE7;
$secundary-color: #FFDAC6;
$tertiary-color: #BABD8D;
$primary-text-color: #7C6A0A;
$quaternary-color: #FA9500;
$font-stack: 'IBM plex sans', sans-serif;
$paragraph-size: 1.5em;
$paragraph-font-weight: 400;

/*break point to tablet: 1110px*/


/*mixins*/

@mixin flexCenter ($direction, $content, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $content;
    align-items: $align;
}

@mixin buttonStyle {
    button {
        background: none;
        border-style: none;
    }
}

/*fin mixins*/



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: $primary-color;
    font-family: $font-stack;
}

nav {
    width: auto;
    @include flexCenter(row, space-between, center);
    color: $primary-text-color;
    padding: 30px;

    p {
        font-size: 1.5em;
        padding-left: 30px;
        font-weight: 500;
    }

    .icons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 30px;
        gap: 15px;

        @include buttonStyle;
    }
}

main {
    color: $primary-text-color;

    article {
        @include flexCenter(row, space-between, center);
        height: 686px;
        width: auto;
        padding: 45px;
        gap: 30px;

        .impact-section {
            color: $primary-text-color;
            @include flexCenter(column, center, flex-start);
            height: 100%;
            padding-top: 30px;
            gap: 70px;

            h1 {
                font-weight: 600;
                font-size: 3em;
            }

            p {
                font-weight: 400;
                font-size: $paragraph-size;

            }

            button {
                font-weight: 700;
                font-size: 23px;
                color: white;
                border-radius: 50px;
                border: none;
                background-color: #FA9500;
                width: 261px;
                height: 73px;
                transition-duration: 0.3s;
                &:hover{
                    $hover-button-color:#ffa826;
                    transform: scale(1.1);
                    transition-duration: 0.3s;
                    background-color: $hover-button-color;
                }
            }

        }

        .img-section {
            
            height: 100%;
            overflow: hidden;
            width: auto;
            display: flex;
            justify-content: end;
            align-items: center;

            img {
                width: 425px;
                border-radius: 19px;
                height: 100%;
            }
        }



    }


    .product-section {
        width: auto;
        height: auto;
        padding: 60px;

        h2 {
            color: $primary-text-color;
            font-size: 2em;
        }

        .healthcare {

            margin-bottom: 60px;

            h2 {
                font-weight: 300;
                padding-bottom: 90px;
                font-size: 2em;
            }

            .card-section {
                @include flexCenter(row, center, center);
                flex-wrap: wrap;
                width: auto;
                height: auto;
                column-gap: 120px;
                row-gap: 90px;



                .product-card {
                    width: 250px;
                    height: auto;
                    background-color: $secundary-color;
                    border-radius: 7px;
                    display: flex;
                    flex-direction: column;
                    padding: 40px 30px;
                    box-shadow: 0px 2px 4px 3px rgba(92, 92, 92, 0.179);
                    position: relative;
                    transition-duration: 0.3s;
                    &:hover{
                        transform: scale(1.1);
                        transition-duration: 0.3s;
                    }


                    svg {
                        margin-bottom: 10px;
                        align-self: self-end;
                        width: 24px;
                        height: 24px;
                        position: absolute;
                        top: 10px;
                        right: 10px;
                    }

                    .product-image {
                        width: 100%;
                        height: 250px;
                        border-radius: 7px;
                        overflow: hidden;
                        margin-bottom: 15px;

                        img {
                            width: 100%;
                            height: 100%;
                            background-image: cover;
                        }
                    }



                    h3 {
                        color: $primary-text-color;
                        font-weight: 600;
                        font-size: 1.2em;
                    }

                    p {
                        color: $primary-text-color;
                        font-weight: 400;
                        font-size: 0.8em;
                    }
                }
            }
        }

        .furnitures {
            @extend .healthcare;

            .card-section {

                .product-card {
                    background-color: $tertiary-color;

                    svg path {
                        stroke: white;
                    }

                    h3 {
                        color: white;
                    }

                    p {
                        color: white;
                    }
                }
            }
        }
    }

    .info-section {

        @extend .product-section;

        .about-us {



            h2 {
                font-size: 2em;
                font-weight: 500;
                margin-bottom: 90px;
            }

            .mission-section {

                @include flexCenter(row, space-around, center);
                margin-bottom: 100px;
                width: auto;

                .earth-container {
                    @include flexCenter(row, space-between, center);
                    width: auto;
                    max-width: 600px;
                    gap: 10px;
                    margin: auto;

                    figure{
                        width: auto;
                        height: 100%;
                        img{
                            object-fit: cover;
                            width: 130px;
                        }
                    }
                    p {
                        color: #E86424;
                        font-size: 18px;
                    }
                }

                .innovation-container {
                    @extend .earth-container;
                }
            }
        }

        .gallery{
            display: flex;
            flex-direction: column;
            h2{
                font-size: 2em;
                font-weight: 500;
                margin-bottom: 70px;
            }
            .gallery-images{
                @include flexCenter(row,space-between,center);
                margin-bottom: 80px;
                
                img{
                    width:27vw;
                    height:57vh;
                    object-fit: cover;
                    border-radius: 16px;
                    transition-duration: 0.3s;
                    &:hover{
                        transform: scale(1.1);
                        transition-duration: 0.3s;
                        
                    }
                }
            }

        }

        .location{
            $text-color:#E86424;
            color: $text-color;
            display: flex;
            flex-direction: column;
            
            h2{
                font-size: 2em;
                font-weight: 500;
                margin-bottom: 70px;
            }
            iframe{
                align-self: center;
                height: 50vh;
                width: 85%;
                border-radius: 12px;
                margin-bottom: 20px;
            }
            p{
                margin-left: 7.5%;
                span{
                    font-size: 1.4em;
                }
            }
        }
    }

}

footer {
    background-color: $quaternary-color;
    width: 100%;
    height: auto;
    padding: 45px;
    display: flex;
    flex-direction: column;
    color: white;
    h3{
        font-weight: 400;
        font-size: 1.3em;
        margin-bottom: 45px;
    
    }
    p{
        font-weight: 400;
        font-size: 1em;
        margin-bottom: 22px;
    }
    figure{
        align-self: center;
        @include flexCenter(row,center , center);
        gap: 12px;
        img{
            width: 30px;
            height: 30px;
        }
    }
}