/*break point to tablet: 1110px*/
/*mixins*/
/*fin mixins*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: #FFEFE7;
  font-family: "IBM plex sans", sans-serif;
}

nav {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #7C6A0A;
  padding: 30px;
}
nav p {
  font-size: 1.5em;
  padding-left: 30px;
  font-weight: 500;
}
nav .icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 30px;
  gap: 15px;
}
nav .icons button {
  background: none;
  border-style: none;
}

main {
  color: #7C6A0A;
}
main article {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 686px;
  width: auto;
  padding: 45px;
  gap: 30px;
}
main article .impact-section {
  color: #7C6A0A;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  padding-top: 30px;
  gap: 70px;
}
main article .impact-section h1 {
  font-weight: 600;
  font-size: 3em;
}
main article .impact-section p {
  font-weight: 400;
  font-size: 1.5em;
}
main article .impact-section button {
  font-weight: 700;
  font-size: 23px;
  color: white;
  border-radius: 50px;
  border: none;
  background-color: #FA9500;
  width: 261px;
  height: 73px;
  transition-duration: 0.3s;
}
main article .impact-section button:hover {
  transform: scale(1.1);
  transition-duration: 0.3s;
  background-color: #ffa826;
}
main article .img-section {
  height: 100%;
  overflow: hidden;
  width: auto;
  display: flex;
  justify-content: end;
  align-items: center;
}
main article .img-section img {
  width: 425px;
  border-radius: 19px;
  height: 100%;
}
main .product-section, main .info-section {
  width: auto;
  height: auto;
  padding: 60px;
}
main .product-section h2, main .info-section h2 {
  color: #7C6A0A;
  font-size: 2em;
}
main .product-section .healthcare, main .info-section .healthcare, main .product-section .furnitures, main .info-section .furnitures {
  margin-bottom: 60px;
}
main .product-section .healthcare h2, main .info-section .healthcare h2, main .product-section .furnitures h2, main .info-section .furnitures h2 {
  font-weight: 300;
  padding-bottom: 90px;
  font-size: 2em;
}
main .product-section .healthcare .card-section, main .info-section .healthcare .card-section, main .product-section .furnitures .card-section, main .info-section .furnitures .card-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: auto;
  height: auto;
  -moz-column-gap: 120px;
       column-gap: 120px;
  row-gap: 90px;
}
main .product-section .healthcare .card-section .product-card, main .info-section .healthcare .card-section .product-card, main .product-section .furnitures .card-section .product-card, main .info-section .furnitures .card-section .product-card {
  width: 250px;
  height: auto;
  background-color: #FFDAC6;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  padding: 40px 30px;
  box-shadow: 0px 2px 4px 3px rgba(92, 92, 92, 0.179);
  position: relative;
  transition-duration: 0.3s;
}
main .product-section .healthcare .card-section .product-card:hover, main .info-section .healthcare .card-section .product-card:hover, main .product-section .furnitures .card-section .product-card:hover, main .info-section .furnitures .card-section .product-card:hover {
  transform: scale(1.1);
  transition-duration: 0.3s;
}
main .product-section .healthcare .card-section .product-card svg, main .info-section .healthcare .card-section .product-card svg, main .product-section .furnitures .card-section .product-card svg, main .info-section .furnitures .card-section .product-card svg {
  margin-bottom: 10px;
  align-self: self-end;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 10px;
  right: 10px;
}
main .product-section .healthcare .card-section .product-card .product-image, main .info-section .healthcare .card-section .product-card .product-image, main .product-section .furnitures .card-section .product-card .product-image, main .info-section .furnitures .card-section .product-card .product-image {
  width: 100%;
  height: 250px;
  border-radius: 7px;
  overflow: hidden;
  margin-bottom: 15px;
}
main .product-section .healthcare .card-section .product-card .product-image img, main .info-section .healthcare .card-section .product-card .product-image img, main .product-section .furnitures .card-section .product-card .product-image img, main .info-section .furnitures .card-section .product-card .product-image img {
  width: 100%;
  height: 100%;
  background-image: cover;
}
main .product-section .healthcare .card-section .product-card h3, main .info-section .healthcare .card-section .product-card h3, main .product-section .furnitures .card-section .product-card h3, main .info-section .furnitures .card-section .product-card h3 {
  color: #7C6A0A;
  font-weight: 600;
  font-size: 1.2em;
}
main .product-section .healthcare .card-section .product-card p, main .info-section .healthcare .card-section .product-card p, main .product-section .furnitures .card-section .product-card p, main .info-section .furnitures .card-section .product-card p {
  color: #7C6A0A;
  font-weight: 400;
  font-size: 0.8em;
}
main .product-section .furnitures .card-section .product-card, main .info-section .furnitures .card-section .product-card {
  background-color: #BABD8D;
}
main .product-section .furnitures .card-section .product-card svg path, main .info-section .furnitures .card-section .product-card svg path {
  stroke: white;
}
main .product-section .furnitures .card-section .product-card h3, main .info-section .furnitures .card-section .product-card h3 {
  color: white;
}
main .product-section .furnitures .card-section .product-card p, main .info-section .furnitures .card-section .product-card p {
  color: white;
}
main .info-section .about-us h2 {
  font-size: 2em;
  font-weight: 500;
  margin-bottom: 90px;
}
main .info-section .about-us .mission-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 100px;
  width: auto;
}
main .info-section .about-us .mission-section .earth-container, main .info-section .about-us .mission-section .innovation-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: auto;
  max-width: 600px;
  gap: 10px;
  margin: auto;
}
main .info-section .about-us .mission-section .earth-container figure, main .info-section .about-us .mission-section .innovation-container figure {
  width: auto;
  height: 100%;
}
main .info-section .about-us .mission-section .earth-container figure img, main .info-section .about-us .mission-section .innovation-container figure img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 130px;
}
main .info-section .about-us .mission-section .earth-container p, main .info-section .about-us .mission-section .innovation-container p {
  color: #E86424;
  font-size: 18px;
}
main .info-section .gallery {
  display: flex;
  flex-direction: column;
}
main .info-section .gallery h2 {
  font-size: 2em;
  font-weight: 500;
  margin-bottom: 70px;
}
main .info-section .gallery .gallery-images {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}
main .info-section .gallery .gallery-images img {
  width: 27vw;
  height: 57vh;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 16px;
  transition-duration: 0.3s;
}
main .info-section .gallery .gallery-images img:hover {
  transform: scale(1.1);
  transition-duration: 0.3s;
}
main .info-section .location {
  color: #E86424;
  display: flex;
  flex-direction: column;
}
main .info-section .location h2 {
  font-size: 2em;
  font-weight: 500;
  margin-bottom: 70px;
}
main .info-section .location iframe {
  align-self: center;
  height: 50vh;
  width: 85%;
  border-radius: 12px;
  margin-bottom: 20px;
}
main .info-section .location p {
  margin-left: 7.5%;
}
main .info-section .location p span {
  font-size: 1.4em;
}

footer {
  background-color: #FA9500;
  width: 100%;
  height: auto;
  padding: 45px;
  display: flex;
  flex-direction: column;
  color: white;
}
footer h3 {
  font-weight: 400;
  font-size: 1.3em;
  margin-bottom: 45px;
}
footer p {
  font-weight: 400;
  font-size: 1em;
  margin-bottom: 22px;
}
footer figure {
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
footer figure img {
  width: 30px;
  height: 30px;
}/*# sourceMappingURL=main.css.map */